.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  .grid-item {
    border: 1px solid #000;
    text-align: center;
    padding: 20px;
  }

  .double-height {
    grid-row: span 2;
  }

  .double-width {
    grid-column: span 1;
    grid-row: span 1;
  }

  img {
    max-width: 100%;
    height: auto;
  }