<!-- <footer class="footer">
    <div class="container">
        <a href="https://avto-prosto.kiev.ua/" class="logo">
            <img class="logo__img" src="images/logo.png" alt="">
        </a>
        <p class="advantages">
            Быстро. Просто. Надежно.
        </p>

        <p class="write-to-us">
            Напишите нам:
        </p>
        <ul class="social">
            <li>
                <a href="" class="social__link"></a>
            </li>
            <li>
                <a href="" class="social__link"></a>
            </li>
            <li>
                <a href="" class="social__link"></a>
            </li>
        </ul>
    </div>

</footer>
<script src="js.main.min.js"></script>
</body>
</html> -->