<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="8stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css" 
    integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Jost:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="./images/favicon.png">
    <link rel="stylesheet" href="css/style.min.css"> 
    <title>Автовикуп Київ та Київська область - Просто</title>
    <meta name="description" content="Автовикуп у Києві ✓ Швидко та дорого з Автовикуп - Просто
    за 1 годину. ✓ Вигідно ☎ (068) 599-09-90">
</head>
<body>
<header class="header">
    <div class="container header__inner">
        <a href="https://avto-prosto.kiev.ua/" class="logo">
            <img class="logo__img" src="images/logo.png" alt="">
        </a>
        <nav class="menu">
            <ul class="menu__list">
                <li class="menu__list-item">
                    <a href="" class="meny__list-link">
                        О нас
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="" class="meny__list-link">
                        Контакты
                    </a>
                </li>
                <li class="menu__list-item">
                    <a href="" class="meny__list-link">
                        Услуги
                    </a>
                    <ul class="submenu">
                        <li>
                            <a href="">Выкуп авто после ДТП</a>
                        </li>
                        <li>
                            <a href="">Срочный выкуп авто</a>
                        </li>
                        <li>
                            <a href="">Выкуп кредитных авто</a>
                        </li>
                        <li>
                            <a href="">Выкуп коммерческого транспорта</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__list-item">
                    <a href="" class="meny__list-link">
                        Статьи
                    </a>
                </li>
            </ul>
        </nav>
        <a class="phone" href="tel:09999999999">+38063-424-86-87</a>
    </div>
    </header>